<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>勤怠画面</title>
</head>
<script>

	
  function showCurrentTime() {
  //現在時刻を取得するオブジェクトを作成
  const now = new Date();

  //Dateオブジェクトから｢時｣｢分｣｢秒｣の数値を取り出す
  const hour = String(now.getHours()).padStart(2, '0');
  const minute = String(now.getMinutes()).padStart(2, '0');
  const second = String(now.getSeconds()).padStart(2, '0');
  //表示を｢現在の時刻は○時△分×秒です｣の形に整える
　const time = `${hour}:${minute}:${second}`;

  //id=currentTimeを持つ要素内のテキストをtimeに代入された文字列に変更する
  document.getElementById('currentTime').textContent = time;
}
setInterval(showCurrentTime, 1000);

window.addEventListener("DOMContentLoaded", () => {
    const inputShainId = document.getElementById("shainId");
    const clockinBtn = document.getElementById("clockinId");
    const currentMonthAttendanceBtn = document.getElementById("currentMonthAttendanceId");
    const clockinTime = document.getElementById("clockinTimeId");
    const clockoutBtn = document.getElementById("clockoutId");

    
    
    inputShainId.addEventListener("input", () => {
      if (inputShainId.value.trim() !== "") {
        clockinBtn.disabled = false;               // 活性化 出勤ボタン
        currentMonthAttendanceBtn.disabled = false; // 活性化 当月出退勤
        if(clockinTime.innerText.trim() !== ""){
			clockoutBtn.disabled = false;             // 活性化 退勤ボタン
		}else{
			clockoutBtn.disabled = true;              // 非活性化 退勤ボタン
		}
      } else {
        clockinBtn.disabled = true;                // 非活性化 出勤ボタン
        currentMonthAttendanceBtn.disabled = true;  // 非活性化 当月出退勤
      }
    });
  });
  

function stamp(){
	const shainValue = document.getElementById('shainId').value;
	if(shainValue == ''){	
			alert('社員IDを入力してください');				    
			return false;			
		}	
	}


</script>
<body style="text-align: center; background-color:aquamarine;" >
</br>
<span>勤怠画面</span>
</br>
</br>

<form th:action="@{/duty}" th:method="POST" style="margin: auto; width: fit-content;">
	<span id="currentTime" style="background-color: black; color: yellow; font-size:2em;"></span>

       <table>
	     <tr>
	       <td>社員ⅠＤ :</td><td><input type="text" name="shainIdNumber" id="shainId" th:value="${shainIdText}"></td>
 	     </tr> 	     
 	     <tr>
	       <td>出勤時刻 : </td><td><span id="clockinTimeId" th:text="${clockinTime}"></span></td>
	     </tr>
	     <tr>
	       <td>退勤時刻 : </td><td><span id="clockOutTimeId" th:text="${clockOutTime}"></span></td>
	     </tr>	   
 	   </table>
 	   
 	   <button type="submit" name="stamping" id="clockinId" value ="clockin" onclick="stamp()" style=" background-color:red; color:ghostwhite; border-radius:5%; padding:1em 2.5em; font-size: 1em;" disabled>出勤</button>
 	   <button type="submit" name="stamping" id="clockoutId" value ="clockout"onclick="stamp()"  style=" background-color:blue; color:ghostwhite; border-radius:5%; padding:1em 2.5em; font-size: 1em;" disabled>退勤</button>
 	   <button type="submit" name="stamping" id="currentMonthAttendanceId" value ="currentMonthAttendance" onclick="stamp()" style=" background-color:orange; color:ghostwhite; border-radius:5%; padding:1em 1.5em; font-size: 1em;" disabled>当月出退勤</button>
</form>

</body>
</html>